{% extends "account/base.html" %}
{% load i18n static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}" type="text/css" media="screen">
{% endblock %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div id="forgot-password-form">
            {{ form.as_p }}
        </div>
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

        <div class="footnote">
            Don't have an account?
            Login with <a href="/accounts/facebook/login/">Facebook</a> or <a href="{% url 'account_signup' %}">Sign Up</a>
        </div>
{% endblock %}
